
.header {
    padding: 60px;
    text-align: center;
    background: rgb(79, 0, 128);
    color: white;
    font-size: 30px;
}

body {

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.upcoming {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 30px;
    margin-bottom: 180px;
    padding: 10px;
    border: 5px solid orange;
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
}

h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
}

table {
    padding-left: 40%;
}

img {
    padding-left: 30px;
    padding-right: 30px;
}

.flex-container {
    display:flex;
}

.radio {
    display: inline-block;
}

.flex-container {
    grid-column: 1 / 4;
    grid-row: 3 / 3;
}

.material-icons {
    transform: scale(1.5);
}

.material-icons:hover {
    color: rgb(21, 180, 21);
}

.netball {
   
}

.animation-container {

}

@keyframes netballAnimation {
    0% { 
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(360deg);
    }
}

#animation {
    animation: netballAnimation 5s infinite;
}