
.header {
    padding: 60px;
    text-align: center;
    background: rgb(79, 0, 128);
    color: white;
    font-size: 30px;
}

body {

}

br {
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.upcoming {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 30px;
    margin-bottom: 180px;
    padding: 10px;
    border: 5px solid orange;
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
}

h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
}

table {
    padding-left: 180px;
}

img {
    padding-left: 30px;
    padding-right: 30px;
}

.flex-container {
    display:flex;
}

.wrapper {
    background: white;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
}

.wrapper header {
    font-size: 22px;
    font-weight: 600;
}

.wrapper .poll-area {
    margin: 20px 0 15px 0;
}

.poll-area label {
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px 15px;
    border: 2px solid darkgrey;
    transition: all 0.2s ease;
}

label.selected {
    border-color: blueviolet;
}

label .row {
    display: flex;
    justify-content: space-between;
}

label .row .circle {
    height: 19px;
    width: 19px;
    display: block;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
}

label.selected .row .circle {
    border-color: blueviolet;
}

.row .circle::after {
    content: "";
    position: absolute;
    height: 11px;
    width: 11px;
    background: #ccc;
    top: 2px;
    left: 2px;
    border-radius: inherit;
    display: none;
}

label.selected .row .circle::after {
    display: block;
    background: grey;
}

label:hover .row .circle::after {
    display: block;
    background: grey;
}

label .row span {
    font-size: 16px;
}

label .row .percent {
    display: none;
}

label .progress {
    height: 7px;
    width: 100%;
    position: relative;
    margin: 8px 0 3px 0;
    background: grey;
    border-radius: 30px;
    display: none;
}

label .progress::after{
    content: "";
    position: absolute;
    height: 100%;
    width: calc(1% * var(--w));
    background: #ccc;
    border-radius: inherit;
} 

label.selected .progress::after {
    background: #6665ee;
}

label.selected :is(.percent, .progress){
    display: block;
}

.radio {
    display: inline-block;
}

.flex-container {
    grid-column: 1 / 4;
    grid-row: 3 / 3;
}

.material-icons {
    transform: scale(1.5);
}

.material-icons:hover {
    color: rgb(21, 180, 21);
}

.netball {
   
}

.animation-container {

}

@keyframes netballAnimation {
    0% { 
        transform: rotate(0deg) ;

    }
    100% {
        transform: rotate(360deg);
    }
}

#animation {
    animation: netballAnimation 10s infinite;
}